@import "~bootstrap/scss/bootstrap.scss";

.bg-dark{
    width: 30px;
    height: 90px;
    margin: auto;
}

.container {
    width: 15vw;
    height: 70vh; 
    border-radius: 40px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.luz {
    border-radius: 50%;
    width: 127px;
    height: 127px;
    margin: 8px;
}
.encendido {
    box-shadow: #e9f895 0px 0px 50px 20px;
}
.apagado {
    opacity: 0.3;
}
.bg-danger, .bg-success, .bg-warning {
    cursor: pointer;
}

