@import "~bootstrap/scss/bootstrap.scss";

.bg-dark{
    width: 30px;
    height: 90px;
    margin: auto;
}

.container {
    width: 15vw;
    height: 70vh; 
    border-radius: 40px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.verde, .amarillo, .rojo {
    border-radius: 50%;
    width: 127px;
    height: 127px;
    margin: 8px;
}

